@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  .dropDownLink {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 2rem;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;   
  }

  .tableRequest {
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .tableRequest thead {
    background: #f6f6f7;
    font-weight: bold;
  }

  .tableRequest tr:nth-of-type(even) {
    background-color: #f6f6f7;
  }

  .tableRequest tr:hover {
    background-color: #f6f6f7;
  }

  .inputFile::-webkit-file-upload-button {
    visibility: hidden;
  }
  .inputFile::before {
    content: 'Adicionar Receita';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
  }
  .inputFile:hover::before {
    border-color: #4763e4;
  }
  .inputFile:active::before {
    background: transparent;
  }
  .selectType {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    min-width: 100%;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
    background: transparent;
  }
  .selectAdition {
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    min-width: 100%;
    width: 7.5rem;
    background: transparent;
    border: 1px solid #e4e4e7;
  }

  button {
    cursor: pointer;
  }

  .alertDanger {
    font-size: 0.75rem;
    margin: 0.5rem;
    color: #dc2626;
  }
.wa-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='58px' width='58px' version='1.1' id='Capa_1' viewBox='0 0 58 58' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%232CB742;' d='M0,58l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5 S45.24,57,29.5,57c-4.789,0-9.299-1.187-13.26-3.273L0,58z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M47.683,37.985c-1.316-2.487-6.169-5.331-6.169-5.331c-1.098-0.626-2.423-0.696-3.049,0.42 c0,0-1.577,1.891-1.978,2.163c-1.832,1.241-3.529,1.193-5.242-0.52l-3.981-3.981l-3.981-3.981c-1.713-1.713-1.761-3.41-0.52-5.242 c0.272-0.401,2.163-1.978,2.163-1.978c1.116-0.627,1.046-1.951,0.42-3.049c0,0-2.844-4.853-5.331-6.169 c-1.058-0.56-2.357-0.364-3.203,0.482l-1.758,1.758c-5.577,5.577-2.831,11.873,2.746,17.45l5.097,5.097l5.097,5.097 c5.577,5.577,11.873,8.323,17.45,2.746l1.758-1.758C48.048,40.341,48.243,39.042,47.683,37.985z'/%3E%3C/g%3E%3C/svg%3E");
    height: 38px;
    width: 38px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    display: inline-block;    
    transition: opacity 150ms ease-in-out;  
    position: absolute;
    bottom: 25px;
    right: 25px;   
}
.wa-icon:hover{
    opacity: 0.7;  
}
.nsdev-copyright{
    background-image: url("data:image/svg+xml,%3Csvg width='364' height='108' viewBox='0 0 364 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M140.54 42.4371C143.102 43.7819 145.386 45.6007 147.27 47.7971C148.038 48.7379 148.55 49.861 148.757 51.0576C148.964 52.2543 148.859 53.4842 148.452 54.6284C148.045 55.7725 147.349 56.7923 146.433 57.5891C145.516 58.386 144.41 58.9329 143.22 59.1771C141.993 59.3704 140.738 59.2681 139.559 58.8784C138.379 58.4888 137.31 57.8233 136.44 56.9371C135.666 56.0943 134.752 55.3908 133.74 54.8571C130.59 53.0771 125.74 52.1971 119.95 52.1971C115.22 52.1971 108.62 52.6871 104.48 54.8571C101.82 56.3371 101.63 57.6171 101.63 58.7971C101.63 59.9771 101.82 61.2571 104.48 62.7371C106.75 63.9171 111.28 65.3971 119.95 65.3971C129.31 65.3971 136.8 66.8771 142.22 69.8271C148.82 73.3771 152.46 79.1871 152.46 86.1871C152.46 93.1871 148.82 98.9971 142.22 102.537C136.8 105.537 129.31 106.977 119.95 106.977C111.67 106.977 104.68 105.497 99.3599 102.537C96.8181 101.187 94.5522 99.3726 92.6799 97.1871C91.9126 96.2486 91.3994 95.1287 91.1898 93.9347C90.9801 92.7408 91.0809 91.513 91.4826 90.3692C91.8843 89.2255 92.5732 88.2043 93.4834 87.4036C94.3935 86.6029 95.4943 86.0497 96.6799 85.7971C97.8989 85.5286 99.1676 85.591 100.354 85.9778C101.541 86.3647 102.603 87.0618 103.43 87.9971C104.218 88.8594 105.148 89.5799 106.18 90.1271C109.33 91.8971 114.06 92.7871 119.87 92.7871C124.7 92.7871 131.2 92.2971 135.34 90.1271C138 88.6471 138.2 87.3671 138.2 86.1871C138.2 85.0071 138 83.7271 135.34 82.2471C133.07 81.0671 128.54 79.5871 119.87 79.5871C110.61 79.5871 103.12 78.1071 97.6999 75.1471C90.9999 71.6071 87.3599 65.7871 87.3599 58.7971C87.3599 51.8071 90.9999 45.9871 97.6999 42.4371C103.12 39.4871 110.61 38.0071 119.87 38.0071C128.33 38.0071 135.22 39.4871 140.54 42.4371Z' fill='white'/%3E%3Cpath d='M192.86 38.007C197.646 37.9194 202.412 38.6533 206.95 40.177C211.172 41.637 215.01 44.0296 218.18 47.177C221.304 50.3656 223.693 54.1983 225.18 58.407C228.062 67.5792 228.062 77.4148 225.18 86.587C223.695 90.7998 221.306 94.6364 218.18 97.827C215.008 100.971 211.17 103.363 206.95 104.827C202.4 106.303 197.643 107.035 192.86 106.997H164.86L162.34 104.477V40.527L164.86 38.007H192.86ZM179.03 92.787H190.03C204.94 92.787 216.22 78.617 212.12 64.287C209.79 56.147 203.44 52.197 192.84 52.197H179.03L176.51 54.717V90.267L179.03 92.787Z' fill='white'/%3E%3Cpath d='M287.58 38.007H243.09C241.331 37.999 239.64 38.6896 238.389 39.9271C237.139 41.1645 236.431 42.8477 236.42 44.607V45.607C236.431 47.3663 237.139 49.0495 238.389 50.287C239.64 51.5245 241.331 52.215 243.09 52.207H273.24C274.996 52.2095 276.681 52.9035 277.929 54.1387C279.177 55.3739 279.889 57.051 279.91 58.807C279.909 59.2095 279.872 59.6111 279.8 60.007C279.508 61.5311 278.693 62.9052 277.495 63.8913C276.297 64.8775 274.792 65.4137 273.24 65.407H243.09C242.218 65.4031 241.354 65.5709 240.547 65.901C239.739 66.231 239.005 66.7168 238.386 67.3306C237.767 67.9444 237.274 68.6742 236.937 69.4783C236.6 70.2824 236.424 71.1451 236.42 72.017V73.017C236.424 73.889 236.6 74.7517 236.937 75.5558C237.274 76.3599 237.767 77.0896 238.386 77.7034C239.005 78.3172 239.739 78.803 240.547 79.1331C241.354 79.4631 242.218 79.631 243.09 79.627H273.24C274.509 79.6125 275.755 79.9648 276.829 80.6415C277.903 81.3183 278.758 82.2906 279.292 83.4418C279.827 84.5929 280.017 85.874 279.841 87.1308C279.665 88.3877 279.13 89.567 278.3 90.527C278.19 90.647 278.08 90.777 277.96 90.897C277.338 91.513 276.602 92.0005 275.792 92.3316C274.982 92.6628 274.115 92.8312 273.24 92.827H243.09C241.331 92.8191 239.64 93.5096 238.389 94.7471C237.139 95.9845 236.431 97.6677 236.42 99.427V100.427C236.431 102.186 237.139 103.87 238.389 105.107C239.64 106.344 241.331 107.035 243.09 107.027H287.58C288.067 107.029 288.553 106.979 289.03 106.877C290.509 106.562 291.835 105.75 292.788 104.577C293.741 103.403 294.264 101.939 294.27 100.427V44.607C294.265 43.7342 294.087 42.871 293.748 42.0667C293.409 41.2625 292.915 40.533 292.293 39.92C291.672 39.307 290.936 38.8225 290.127 38.4942C289.318 38.166 288.453 38.0004 287.58 38.007Z' fill='white'/%3E%3Cpath d='M309.14 105.387C308.301 104.806 307.592 104.058 307.058 103.189C306.523 102.32 306.175 101.35 306.035 100.339C305.895 99.3287 305.966 98.3001 306.244 97.3186C306.522 96.337 307.001 95.4239 307.65 94.637L349.19 43.927C350.577 42.3025 352.522 41.2574 354.642 40.9981C356.763 40.7389 358.903 41.2845 360.64 42.527C361.479 43.1077 362.188 43.8561 362.722 44.725C363.257 45.5939 363.605 46.5644 363.745 47.5749C363.885 48.5854 363.814 49.6139 363.536 50.5955C363.258 51.577 362.779 52.4901 362.13 53.277L320.58 103.987C319.195 105.611 317.251 106.656 315.133 106.915C313.014 107.174 310.876 106.629 309.14 105.387Z' fill='white'/%3E%3Cpath d='M315.24 38.0071H311.48C308.012 38.0071 305.2 40.8187 305.2 44.2871V100.697C305.2 104.165 308.012 106.977 311.48 106.977H315.24C318.708 106.977 321.52 104.165 321.52 100.697V44.2871C321.52 40.8187 318.708 38.0071 315.24 38.0071Z' fill='white'/%3E%3Cpath d='M49.6089 73.997H68.9789V45.427C68.977 43.7975 68.4066 42.2197 67.3661 40.9656C66.3256 39.7115 64.8801 38.8596 63.2789 38.557C62.8536 38.4765 62.4217 38.4364 61.9889 38.437C60.1324 38.437 58.3519 39.1745 57.0392 40.4873C55.7264 41.8 54.9889 43.5805 54.9889 45.437V62.877C54.9892 64.0855 54.6765 65.2735 54.0814 66.3254C53.4863 67.3772 52.629 68.257 51.593 68.8792C50.5569 69.5015 49.3775 69.8449 48.1693 69.876C46.9612 69.9072 45.7656 69.625 44.6989 69.057C43.9794 68.6642 43.3332 68.15 42.7889 67.537L34.9289 58.747L26.5289 49.357C26.383 49.661 26.187 49.9382 25.9489 50.177C25.677 50.4483 25.3542 50.6631 24.9989 50.8089C24.6436 50.9548 24.263 51.0289 23.8789 51.027H6.63892V55.757H16.7689C17.546 55.757 18.2913 56.0657 18.8407 56.6152C19.3902 57.1647 19.6989 57.9099 19.6989 58.687C19.6989 59.4641 19.3902 60.2094 18.8407 60.7589C18.2913 61.3083 17.546 61.617 16.7689 61.617H6.63892V66.347H8.50891C9.286 66.347 10.0313 66.6557 10.5807 67.2052C11.1302 67.7547 11.4389 68.4999 11.4389 69.277C11.4389 70.0541 11.1302 70.7994 10.5807 71.3489C10.0313 71.8983 9.286 72.207 8.50891 72.207H6.63892V99.557C6.63892 101.414 7.37641 103.194 8.68916 104.507C10.0019 105.82 11.7824 106.557 13.6389 106.557C15.4954 106.557 17.2759 105.82 18.5887 104.507C19.9014 103.194 20.6389 101.414 20.6389 99.557V82.137C20.6454 80.7984 21.0355 79.4897 21.763 78.3661C22.4906 77.2424 23.5251 76.351 24.7439 75.7974C25.9627 75.2438 27.3146 75.0512 28.6395 75.2426C29.9644 75.4339 31.2066 76.0012 32.2189 76.877C32.4436 77.0683 32.6541 77.2755 32.8489 77.497L41.1789 86.837C41.3321 86.1972 41.697 85.6278 42.2142 85.2212C42.7315 84.8147 43.371 84.5947 44.0289 84.597H63.6289C64.3751 84.6407 65.0764 84.9679 65.5893 85.5116C66.1022 86.0554 66.3878 86.7745 66.3878 87.522C66.3878 88.2695 66.1022 88.9887 65.5893 89.5324C65.0764 90.0762 64.3751 90.4034 63.6289 90.447H44.4089L48.7489 95.307C49.0277 95.2221 49.3175 95.1783 49.6089 95.177H55.3689C56.146 95.177 56.8913 95.4857 57.4407 96.0352C57.9902 96.5847 58.2989 97.3299 58.2989 98.107C58.2989 98.8841 57.9902 99.6294 57.4407 100.179C56.8913 100.728 56.146 101.037 55.3689 101.037H53.8589L56.6789 104.187C57.6474 105.277 58.9353 106.033 60.3589 106.347C60.6518 106.417 60.9492 106.467 61.2489 106.497C61.4689 106.497 61.6789 106.497 61.8989 106.497H61.9889C63.8454 106.497 65.6259 105.76 66.9387 104.447C68.2514 103.134 68.9889 101.354 68.9889 99.497V79.877H49.6089C48.8627 79.8334 48.1614 79.5062 47.6486 78.9624C47.1357 78.4187 46.85 77.6995 46.85 76.952C46.85 76.2046 47.1357 75.4853 47.6486 74.9416C48.1614 74.3978 48.8627 74.0707 49.6089 74.027V73.997ZM18.8589 40.767C17.9293 39.7326 16.7126 38.9986 15.364 38.6585C14.0155 38.3185 12.5962 38.3879 11.2872 38.8578C9.97827 39.3277 8.83896 40.1769 8.01463 41.2971C7.19031 42.4172 6.71834 43.7575 6.65892 45.147H22.7589L18.8589 40.767Z' fill='white'/%3E%3Cpath d='M2.7589 45.147H6.6389V50.997H2.7589C2.01271 50.9533 1.31141 50.6261 0.798538 50.0824C0.285665 49.5386 0 48.8195 0 48.072C0 47.3245 0.285665 46.6053 0.798538 46.0616C1.31141 45.5178 2.01271 45.1906 2.7589 45.147Z' fill='white'/%3E%3Cpath d='M26.7888 48.077C26.7898 48.5093 26.6941 48.9364 26.5088 49.327L22.7588 45.147H23.8588C24.6359 45.147 25.3811 45.4557 25.9306 46.0052C26.4801 46.5546 26.7888 47.2999 26.7888 48.077Z' fill='white'/%3E%3Cpath d='M6.14899 67.417V71.067H3.72899C3.26831 71.0329 2.83757 70.8258 2.52322 70.4873C2.20888 70.1488 2.03418 69.7039 2.03418 69.242C2.03418 68.78 2.20888 68.3352 2.52322 67.9967C2.83757 67.6582 3.26831 67.4511 3.72899 67.417H6.14899Z' fill='white'/%3E%3Cpath d='M6.14893 67.417V71.067H8.45894C8.69356 71.0631 8.92508 71.0128 9.14021 70.9191C9.35534 70.8254 9.54982 70.6901 9.71246 70.521C9.8751 70.3518 10.0027 70.1522 10.0879 69.9335C10.1731 69.7149 10.2142 69.4816 10.2089 69.247C10.2086 68.7679 10.0263 68.3068 9.69893 67.957C9.5391 67.7883 9.34694 67.6536 9.1339 67.5608C8.92085 67.468 8.6913 67.4191 8.45894 67.417H6.14893Z' fill='white'/%3E%3Cpath d='M150.615 4.43359C151.721 4.43359 152.527 4.66016 153.035 5.11328C153.543 5.56641 153.797 6.20117 153.797 7.01758C153.797 7.38867 153.738 7.74219 153.621 8.07812C153.508 8.41016 153.32 8.70508 153.059 8.96289C152.797 9.2168 152.451 9.41797 152.021 9.56641C151.596 9.71484 151.07 9.78906 150.445 9.78906H149.531V13H148.125V4.43359H150.615ZM150.521 5.59961H149.531V8.61719H150.299C150.74 8.61719 151.115 8.56641 151.424 8.46484C151.732 8.35938 151.967 8.19336 152.127 7.9668C152.287 7.74023 152.367 7.44141 152.367 7.07031C152.367 6.57422 152.217 6.20508 151.916 5.96289C151.619 5.7207 151.154 5.59961 150.521 5.59961ZM161.109 9.74219C161.109 10.2812 161.039 10.7598 160.898 11.1777C160.758 11.5957 160.553 11.9492 160.283 12.2383C160.014 12.5234 159.689 12.7422 159.311 12.8945C158.932 13.043 158.504 13.1172 158.027 13.1172C157.582 13.1172 157.174 13.043 156.803 12.8945C156.432 12.7422 156.109 12.5234 155.836 12.2383C155.566 11.9492 155.357 11.5957 155.209 11.1777C155.061 10.7598 154.986 10.2812 154.986 9.74219C154.986 9.02734 155.109 8.42188 155.355 7.92578C155.605 7.42578 155.961 7.04492 156.422 6.7832C156.883 6.52148 157.432 6.39062 158.068 6.39062C158.666 6.39062 159.193 6.52148 159.65 6.7832C160.107 7.04492 160.465 7.42578 160.723 7.92578C160.98 8.42578 161.109 9.03125 161.109 9.74219ZM156.404 9.74219C156.404 10.2148 156.461 10.6191 156.574 10.9551C156.691 11.291 156.871 11.5488 157.113 11.7285C157.355 11.9043 157.668 11.9922 158.051 11.9922C158.434 11.9922 158.746 11.9043 158.988 11.7285C159.23 11.5488 159.408 11.291 159.521 10.9551C159.635 10.6191 159.691 10.2148 159.691 9.74219C159.691 9.26953 159.635 8.86914 159.521 8.54102C159.408 8.20898 159.23 7.95703 158.988 7.78516C158.746 7.60938 158.432 7.52148 158.045 7.52148C157.475 7.52148 157.059 7.71289 156.797 8.0957C156.535 8.47852 156.404 9.02734 156.404 9.74219ZM167.994 12.9941L167.174 9.97656C167.135 9.82812 167.088 9.64844 167.033 9.4375C166.979 9.22656 166.924 9.00977 166.869 8.78711C166.814 8.56055 166.764 8.35156 166.717 8.16016C166.674 7.96875 166.641 7.82031 166.617 7.71484H166.57C166.551 7.82031 166.52 7.96875 166.477 8.16016C166.434 8.35156 166.385 8.56055 166.33 8.78711C166.275 9.01367 166.221 9.23438 166.166 9.44922C166.115 9.66406 166.068 9.84766 166.025 10L165.164 12.9941H163.652L161.836 6.50781H163.23L164.074 9.73047C164.129 9.94922 164.182 10.1855 164.232 10.4395C164.287 10.6934 164.334 10.9355 164.373 11.166C164.412 11.3965 164.441 11.5859 164.461 11.7344H164.508C164.523 11.6289 164.545 11.4961 164.572 11.3359C164.6 11.1719 164.631 11.002 164.666 10.8262C164.701 10.6465 164.736 10.4785 164.771 10.3223C164.807 10.1621 164.84 10.0332 164.871 9.93555L165.867 6.50781H167.373L168.328 9.93555C168.371 10.084 168.418 10.2715 168.469 10.498C168.52 10.7207 168.564 10.9453 168.604 11.1719C168.646 11.3945 168.674 11.5801 168.686 11.7285H168.732C168.748 11.5957 168.775 11.416 168.814 11.1895C168.857 10.959 168.906 10.7148 168.961 10.457C169.016 10.1953 169.072 9.95312 169.131 9.73047L169.992 6.50781H171.363L169.535 12.9941H167.994ZM175.061 6.39062C175.639 6.39062 176.135 6.50977 176.549 6.74805C176.963 6.98633 177.281 7.32422 177.504 7.76172C177.727 8.19922 177.838 8.72266 177.838 9.33203V10.0703H173.508C173.523 10.6992 173.691 11.1836 174.012 11.5234C174.336 11.8633 174.789 12.0332 175.371 12.0332C175.785 12.0332 176.156 11.9941 176.484 11.916C176.816 11.834 177.158 11.7148 177.51 11.5586V12.6777C177.186 12.8301 176.855 12.9414 176.52 13.0117C176.184 13.082 175.781 13.1172 175.312 13.1172C174.676 13.1172 174.115 12.9941 173.631 12.748C173.15 12.498 172.773 12.127 172.5 11.6348C172.23 11.1426 172.096 10.5312 172.096 9.80078C172.096 9.07422 172.219 8.45703 172.465 7.94922C172.711 7.44141 173.057 7.05469 173.502 6.78906C173.947 6.52344 174.467 6.39062 175.061 6.39062ZM175.061 7.42773C174.627 7.42773 174.275 7.56836 174.006 7.84961C173.74 8.13086 173.584 8.54297 173.537 9.08594H176.49C176.486 8.76172 176.432 8.47461 176.326 8.22461C176.225 7.97461 176.068 7.7793 175.857 7.63867C175.65 7.49805 175.385 7.42773 175.061 7.42773ZM182.678 6.39062C182.787 6.39062 182.906 6.39648 183.035 6.4082C183.164 6.41992 183.275 6.43555 183.369 6.45508L183.24 7.74414C183.158 7.7207 183.057 7.70312 182.936 7.69141C182.818 7.67969 182.713 7.67383 182.619 7.67383C182.373 7.67383 182.139 7.71484 181.916 7.79688C181.693 7.875 181.496 7.99609 181.324 8.16016C181.152 8.32031 181.018 8.52148 180.92 8.76367C180.822 9.00586 180.773 9.28711 180.773 9.60742V13H179.391V6.51367H180.469L180.656 7.65625H180.721C180.85 7.42578 181.01 7.21484 181.201 7.02344C181.393 6.83203 181.611 6.67969 181.857 6.56641C182.107 6.44922 182.381 6.39062 182.678 6.39062ZM187.154 6.39062C187.732 6.39062 188.229 6.50977 188.643 6.74805C189.057 6.98633 189.375 7.32422 189.598 7.76172C189.82 8.19922 189.932 8.72266 189.932 9.33203V10.0703H185.602C185.617 10.6992 185.785 11.1836 186.105 11.5234C186.43 11.8633 186.883 12.0332 187.465 12.0332C187.879 12.0332 188.25 11.9941 188.578 11.916C188.91 11.834 189.252 11.7148 189.604 11.5586V12.6777C189.279 12.8301 188.949 12.9414 188.613 13.0117C188.277 13.082 187.875 13.1172 187.406 13.1172C186.77 13.1172 186.209 12.9941 185.725 12.748C185.244 12.498 184.867 12.127 184.594 11.6348C184.324 11.1426 184.189 10.5312 184.189 9.80078C184.189 9.07422 184.312 8.45703 184.559 7.94922C184.805 7.44141 185.15 7.05469 185.596 6.78906C186.041 6.52344 186.561 6.39062 187.154 6.39062ZM187.154 7.42773C186.721 7.42773 186.369 7.56836 186.1 7.84961C185.834 8.13086 185.678 8.54297 185.631 9.08594H188.584C188.58 8.76172 188.525 8.47461 188.42 8.22461C188.318 7.97461 188.162 7.7793 187.951 7.63867C187.744 7.49805 187.479 7.42773 187.154 7.42773ZM193.664 13.1172C192.891 13.1172 192.27 12.8359 191.801 12.2734C191.336 11.707 191.104 10.873 191.104 9.77148C191.104 8.6582 191.34 7.81641 191.812 7.24609C192.289 6.67578 192.916 6.39062 193.693 6.39062C194.021 6.39062 194.309 6.43555 194.555 6.52539C194.801 6.61133 195.012 6.72852 195.188 6.87695C195.367 7.02539 195.52 7.19141 195.645 7.375H195.709C195.689 7.25391 195.666 7.08008 195.639 6.85352C195.615 6.62305 195.604 6.41016 195.604 6.21484V3.88281H196.986V13H195.908L195.662 12.1152H195.604C195.486 12.3027 195.338 12.4727 195.158 12.625C194.982 12.7734 194.771 12.8926 194.525 12.9824C194.283 13.0723 193.996 13.1172 193.664 13.1172ZM194.051 11.998C194.641 11.998 195.057 11.8281 195.299 11.4883C195.541 11.1484 195.666 10.6387 195.674 9.95898V9.77734C195.674 9.05078 195.557 8.49414 195.322 8.10742C195.088 7.7168 194.66 7.52148 194.039 7.52148C193.543 7.52148 193.164 7.72266 192.902 8.125C192.645 8.52344 192.516 9.08008 192.516 9.79492C192.516 10.5098 192.645 11.0566 192.902 11.4355C193.164 11.8105 193.547 11.998 194.051 11.998ZM202.219 4.43359H204.768C205.873 4.43359 206.707 4.59375 207.27 4.91406C207.832 5.23438 208.113 5.78711 208.113 6.57227C208.113 6.90039 208.055 7.19727 207.938 7.46289C207.824 7.72461 207.658 7.94141 207.439 8.11328C207.221 8.28125 206.951 8.39453 206.631 8.45312V8.51172C206.963 8.57031 207.258 8.67383 207.516 8.82227C207.777 8.9707 207.982 9.18359 208.131 9.46094C208.283 9.73828 208.359 10.0977 208.359 10.5391C208.359 11.0625 208.234 11.5078 207.984 11.875C207.738 12.2422 207.385 12.5215 206.924 12.7129C206.467 12.9043 205.924 13 205.295 13H202.219V4.43359ZM203.625 7.9668H204.973C205.609 7.9668 206.051 7.86328 206.297 7.65625C206.543 7.44922 206.666 7.14648 206.666 6.74805C206.666 6.3418 206.52 6.04883 206.227 5.86914C205.938 5.68945 205.477 5.59961 204.844 5.59961H203.625V7.9668ZM203.625 9.10352V11.8223H205.107C205.764 11.8223 206.225 11.6953 206.49 11.4414C206.756 11.1875 206.889 10.8438 206.889 10.4102C206.889 10.1445 206.828 9.91406 206.707 9.71875C206.59 9.52344 206.396 9.37305 206.127 9.26758C205.857 9.1582 205.494 9.10352 205.037 9.10352H203.625ZM209.01 6.51367H210.51L211.84 10.2168C211.898 10.3848 211.951 10.5508 211.998 10.7148C212.049 10.875 212.092 11.0332 212.127 11.1895C212.166 11.3457 212.197 11.502 212.221 11.6582H212.256C212.295 11.4551 212.35 11.2285 212.42 10.9785C212.494 10.7246 212.576 10.4707 212.666 10.2168L213.943 6.51367H215.426L212.643 13.8906C212.482 14.3125 212.285 14.6719 212.051 14.9688C211.82 15.2695 211.547 15.4961 211.23 15.6484C210.914 15.8047 210.553 15.8828 210.146 15.8828C209.951 15.8828 209.781 15.8711 209.637 15.8477C209.492 15.8281 209.369 15.8066 209.268 15.7832V14.6816C209.35 14.7012 209.453 14.7188 209.578 14.7344C209.703 14.75 209.832 14.7578 209.965 14.7578C210.211 14.7578 210.424 14.709 210.604 14.6113C210.783 14.5137 210.936 14.375 211.061 14.1953C211.186 14.0195 211.289 13.8184 211.371 13.5918L211.6 12.9824L209.01 6.51367Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    height: 40px;
    width: 200px;       
    display: inline-block;   
    margin-top: 70px;   
}
/*Header CSS */
.dash-header{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
/*Header CSS */
/*Sidebar CSS */
.dash-sidebar{    
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.076);  
  z-index: 500;
}
.dash-sidebar .list .listItem{
  transition: background-color 150ms ease-in-out;
}
.dash-sidebar .list .listItem:hover{
  background-color: #316b8f;
  cursor: pointer;  
}   
.dash-sidebar .list .listItemActive{
  background-color: #316b8f;
  cursor: pointer;  
  font-weight: bold;
}   
.dash-sidebar .auth-info{
  background-color: #316b8f;
}
.dash-sidebar .auth-info .auth-info-email{
margin: 0px;
padding-top: 0px;
margin-bottom: 30px;
font-size: 14px;
}
.dash-sidebar .auth-info .auth-info-user{
margin-bottom: 0px ;
padding-bottom: 0px;
font-weight: bold;
}
.dash-sidebar .auth-info .auth-info-logout-btn{
border-radius: 0px;
background-color: #ffffff;
color: black;
transition: opacity 150ms ease-in-out;
}
.page-title{
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #316b8f;
}
.page-subtitle{
  color: #5c5c5c;
  font-size: 18px;
  padding-left: 0px;
  padding-top: 0px;
}
.dashboard-main-view{
  overflow: hidden;
  overflow-y:  auto;   
}
/* .dashboard-main-view .MuiDataGrid-row--borderBottom{
  background: #50ADE5 !important;  
  color: #fff !important;
  border-color: #fff !important;
} */
/*Sidebar CSS */

/*Account Page */

/*Account Page */

/* Misc */
.page-form input,
.page-form .input-wrapper   
{
  height: 40px;
  padding: 5px;   
  border-radius: 2px;
  padding-left: 0px;
  padding-right: 0px;
}
.page-form input{
  padding-left: 5px;
  padding-right: 5px;
}
.page-form input:disabled{
  background-color: #d9d9d9;
}
.page-form .label{
  font-size: 14px;
  padding-left: 0px;
  font-weight: normal;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  height: 25px;
}
.badge-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-success {
  background-color: #4caf50;
}
.badge-error {
  background-color: #f44336;
}
.badge-warning {
  background-color: #ff9800;
}
.badge-ongoing {
  background-color: #212121;

}
.c-input-list{

}
.c-input-list,
.c-input{
  padding: 0.8rem;
  min-height: 55.6px;
  border-color: #CDCDCD;  
}
.c-input:disabled,
.c-input-list:disabled
{
 opacity: 0.5;
}
.order-form{
  z-index: 500
}
.c-download-file-btn{
  background: none;
  border: none;
  width: 150px;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: 150ms ease-in-out;   
}
.c-download-file-btn:hover{
  color: #316b8f;
  opacity: 0.5;
  text-decoration: underline;
}
.c-download-file-btn .icon{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24' fill='none'%3E%3Cpath opacity='0.5' fill-rule='evenodd' clip-rule='evenodd' d='M3 14.25C3.41421 14.25 3.75 14.5858 3.75 15C3.75 16.4354 3.75159 17.4365 3.85315 18.1919C3.9518 18.9257 4.13225 19.3142 4.40901 19.591C4.68577 19.8678 5.07435 20.0482 5.80812 20.1469C6.56347 20.2484 7.56459 20.25 9 20.25H15C16.4354 20.25 17.4365 20.2484 18.1919 20.1469C18.9257 20.0482 19.3142 19.8678 19.591 19.591C19.8678 19.3142 20.0482 18.9257 20.1469 18.1919C20.2484 17.4365 20.25 16.4354 20.25 15C20.25 14.5858 20.5858 14.25 21 14.25C21.4142 14.25 21.75 14.5858 21.75 15V15.0549C21.75 16.4225 21.75 17.5248 21.6335 18.3918C21.5125 19.2919 21.2536 20.0497 20.6517 20.6516C20.0497 21.2536 19.2919 21.5125 18.3918 21.6335C17.5248 21.75 16.4225 21.75 15.0549 21.75H8.94513C7.57754 21.75 6.47522 21.75 5.60825 21.6335C4.70814 21.5125 3.95027 21.2536 3.34835 20.6517C2.74643 20.0497 2.48754 19.2919 2.36652 18.3918C2.24996 17.5248 2.24998 16.4225 2.25 15.0549C2.25 15.0366 2.25 15.0183 2.25 15C2.25 14.5858 2.58579 14.25 3 14.25Z' fill='%231C274C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 16.75C12.2106 16.75 12.4114 16.6615 12.5535 16.5061L16.5535 12.1311C16.833 11.8254 16.8118 11.351 16.5061 11.0715C16.2004 10.792 15.726 10.8132 15.4465 11.1189L12.75 14.0682V3C12.75 2.58579 12.4142 2.25 12 2.25C11.5858 2.25 11.25 2.58579 11.25 3V14.0682L8.55353 11.1189C8.27403 10.8132 7.79963 10.792 7.49393 11.0715C7.18823 11.351 7.16698 11.8254 7.44648 12.1311L11.4465 16.5061C11.5886 16.6615 11.7894 16.75 12 16.75Z' fill='%231C274C'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;   
  position: relative;
  top: 5px;
}
.c-download-file-btn .link{
  display: inline-block;

}
.order-options .option-btn{
  font-size: 10px;
  width: auto;
  padding: 8px 12px;
  border-radius: 5px;
}
.order-options .option-btn svg{
  height: 14px;
  width: 14px;
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .order-options .option-btn{
    font-size: 8px;
    width: auto;
    padding: 4px 12px;
    border-radius: 5px;
  }
  .order-options .option-btn svg{
    height: 12px;
    width: 12px;
    margin-left: 10px;
  }
  .page-title{
    font-size: 24px;
  }
  .account-page input{
    width: 100%;
  }
  .account-page .content{
    width: 100%;   
  }
}


/* Misc */